<div class="multiverse-d616 chat-card request-card">
    <div class="card-buttons">
        <button {{multiverse-d616-dataset dataset}}>
            <span class="visible-tn">{{{buttonLabel}}}</span>
            <span class="hidden-tn">{{{hiddenLabel}}}</span>
        </button>
    </div>
</div>
