<div class="multiverse-d616 dice-roll marvel-roll">
    <div class="dice-result">
        <div>{{metadata}}</div>
        <div class="dice-formula"><span>{{formula}}</span></div>
        {{{tooltip}}}
        <h4 class="dice-total"><span>{{total}}</span></h4>
        <div class="mm-focus-info" style="display:none"></div>
        <div class="mm-roll-actions">
            <button class="damage" title="DAMAGE">
                <span>Damage</span>
            </button>
            <button class="spend-focus" title="FOCUS" style="display:none">
                <span>Focus</span>
            </button>
        </div>
    </div>
</div>
